/* NavBar.css */

.navbar-menu {
    display: flex;
    align-items: center;
    justify-content: flex-end; /* Align items to the right */
    width: 100%;
  }
  
  .nav-links {
    display: flex;
    gap: 15px;
  }
  
  .nav-links .MuiButton-root {
    color: white;
    text-transform: none;
    font-weight: bold;
  }
  
  @media (max-width: 900px) {
    .nav-links {
      display: none; 
    }
  }
  