body {
    background-color: black;
    font-family:'Courier New', Courier, monospace;
}

nav a {
    color:white;
    border: none;
    padding: 30px;
}

nav {
    justify-content: center;
    display: flex;
}

nav a:hover {
    background-color: gold;
    color: black;
}

nav a.active {
    background-color: gold;
    color: black;
}

button:hover {
    background: #D3D3D3;
}
